## Built in Function - Các hàm có sẵn

In [ ]:
print("Chào mọi người")

In [ ]:
print "Chào bạn"

In [ ]:
# 3 đối số đầu vào riêng biệt
print("Chào mọi người", "Các bạn có khỏe không?", sep='\n')

In [ ]:
print("Chào mọi người", "Các bạn có khỏe không?", sep='|')

In [ ]:
print("Chào mọi người", "Các bạn có khỏe không?", 12, 45, end='**')

In [ ]:
subtotal = 12.32
tax = subtotal * 0.07
total = subtotal + tax

formatted_str = "Sub: ${0} Tax: ${1} Total: ${total}"
# print("Sub: " + str(subtotal) + "\nTax:")
print(formatted_str.format(subtotal, tax, total=total))

In [ ]:
print(
    "Sub: ${0:0.2f} Tax: ${1:0.2f} Total: ${total:0.2f}".format(subtotal, tax, total=total)
)

In [ ]:
print(      # f-string Python
    f"Sub: {subtotal:>15.2f}\n"
    f"Tax: {tax:<15.2f}\n"
    f"Total: {total:>13.2f}"
)       # https://realpython.com/python-f-strings/

In [ ]:
len("abc")

In [ ]:
len("abcdefghijklmnopqrstuvwxyz")

In [ ]:
len(1234567)        # sequence iterable

In [ ]:
str_day_of_Python_for_tester_class = "Tuesday-Thursday-Saturday"
str_day_of_Python_for_tester_class = 1456

len(str_day_of_Python_for_tester_class)

In [ ]:
min(1, 3, 2.4, -6, 6.54)

In [ ]:
max(23, 1, 56)

In [ ]:
abs(-65)

In [ ]:
round(3.141563, 3)

In [ ]:
round(100.8)

In [ ]:
round(-15.278)

In [ ]:
sorted("hello")

In [ ]:
sorted("python")

In [ ]:
sorted("Python")

In [ ]:
sorted("abcdef", reverse=True)

## String Functions - Hàm cho chuỗi & Giá trị trả về

In [28]:
string_var = "CHAO CA LOP!!"
string_var.lower()

'chao ca lop!!'

In [29]:
string_var

'CHAO CA LOP!!'

In [30]:
lowercase_var = string_var.lower()
lowercase_var.upper()

'CHAO CA LOP!!'

In [31]:
lowercase_var == string_var.lower()

True

In [ ]:
capitalized_string = lowercase_var.capitalize()

In [ ]:
my_print = print("Chào các bạn!!")
my_print

In [ ]:
print(my_print)

In [ ]:
type(my_print)

In [ ]:
length = len("hello")
print(length)

In [ ]:
type(length)

In [ ]:
result = abs(-12564)

In [ ]:
max_value = max ( 1.2, 456, 13345, 44)
print(max_value)

In [ ]:
sorted_character = sorted("asdfg")
print(sorted_character)

In [ ]:
type(sorted_character)

In [ ]:
# đầu ra của hàm này có thể là đầu vào của hàm khác
abs(max(-1, -4, -8, -2))

In [ ]:
print(len("hell yeah"))

In [ ]:
print(round(5.7))

## List Intro - Giới thiệu List

In [ ]:
empty_list = []
type(empty_list)

In [ ]:
empty_list

In [ ]:
print(empty_list)

In [ ]:
int_list = [1, 2, 4, 5, 6]
int_list[-1] == int_list[4]

In [ ]:
string_list = ["hello", "python", "world"]
string_list

In [ ]:
mixed_list = [5, "Hello", 2.5, [1, 3, 4, 6]]
mixed_list

In [ ]:
students = ["Huong", "Ngoc", "Bao"]
students[0]

In [ ]:
students[1]

In [ ]:
students[3] # 0 -> len(students) - 1

In [ ]:
len(students)

In [ ]:
sorted(students)

In [7]:
classes = ["A1", "A5", "A7", "A9"]
classes[3] = "B4"
classes

['A1', 'A5', 'A7', 'B4']

In [8]:
last_index = len(classes) - 1
classes[last_index]

'B4'

In [5]:
classes[-1]

'B4'

In [9]:
classes[-2]

'A7'

## Nested Lists - Mảng nhiều chiều

In [10]:
x = [30, 'baz', 2.718, [1, 3, 4, 6]]

x[3][2]         # tương đương với y = x[3] rồi y[2]

4

In [11]:
# x[1][2]     # tương đương x[-2][-1]
x[-3][-1]

'z'

In [12]:
y = [[1, 2, 3],[4, 5, 6]]
y[1][-1]

6

## Slicing & List Functions

In [13]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num[::-1]       # range(1:10:2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
classes

['A1', 'A5', 'A7', 'B4']

In [15]:
classes[0:3:2]        # range, [0,3)

['A1', 'A7']

In [16]:
classes[:]

['A1', 'A5', 'A7', 'B4']

In [17]:
classes[2:]

['A7', 'B4']

In [18]:
classes[:-1]

['A1', 'A5', 'A7']

In [20]:
s = '0123456789abcdefghijklmnopqrstuvwxyz'
s[::-1]

'zyxwvutsrqponmlkjihgfedcba9876543210'

In [21]:
classes.append("C9")
classes

['A1', 'A5', 'A7', 'B4', 'C9']

In [22]:
classes.insert(4, "D6")
classes

['A1', 'A5', 'A7', 'B4', 'D6', 'C9']

In [23]:
classes.index("A5")

1

In [24]:
cars = ["Toyota", "Madza"]
cars

['Toyota', 'Madza']

In [27]:
cars.append(["Ford", "Mitsubishi"])
cars

['Toyota', 'Madza', ['Ford', 'Mitsubishi']]

In [26]:
# cars.extend(["Ford", "Mitsubishi"])
del cars[2:4]   # remove list elements python
cars

['Toyota', 'Madza']

In [28]:
cars.insert(1, "Huyndai")
cars

['Toyota', 'Huyndai', 'Madza', ['Ford', 'Mitsubishi']]

In [29]:
cars.remove("madza")        # hoặc dùng del
cars

ValueError: list.remove(x): x not in list

In [32]:
last_car = cars.pop()   # xóa phần tử cuối cùng
last_car
cars

['Toyota']

In [ ]:
cars

In [1]:
expensive_cars = ["Porsche", "Ferrari", "Lamboghini", "Ferrari"] # phần tử trùng nhau ok

In [2]:
expensive_cars.sort()
expensive_cars

['Ferrari', 'Ferrari', 'Lamboghini', 'Porsche']

In [ ]:
expensive_cars.reverse()
expensive_cars

## Concat và copy Lis

In [21]:
all_cars = cars + expensive_cars
all_cars

NameError: name 'cars' is not defined

In [ ]:
cars.clear()
cars

In [ ]:
expensive_cars_copy = expensive_cars.copy()
expensive_cars_copy

In [ ]:
del expensive_cars
expensive_cars

In [ ]:
expensive_cars_copy

In [ ]:
expensive_cars_shallow_copy = expensive_cars_copy       # shallow != deep copy

In [ ]:
expensive_cars_shallow_copy.remove("Lamboghini")
expensive_cars_shallow_copy

In [ ]:
expensive_cars_copy

## Giới thiệu Tuple

In [22]:
# Tuple là immutable
empty_tuple = ()
print(empty_tuple)

()

In [23]:
type(empty_tuple)

tuple

In [24]:
banks = ("ACB", "Techcombank", "Vietcombank")
banks.append("Sacombank")

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
banks[0]

'ACB'

In [26]:
banks[5]

IndexError: tuple index out of range

In [28]:
banks[0] = "HSBC"

TypeError: 'tuple' object does not support item assignment

In [27]:
banks[0:2]

('ACB', 'Techcombank')

In [30]:
char_tuple = tuple("LopPython")
char_tuple

('L', 'o', 'p', 'P', 'y', 't', 'h', 'o', 'n')

In [31]:
fruit_list = ["Apple", "Orange", "Melon", "Banana"]
fruit_tuple = tuple(fruit_list)
fruit_tuple

('Apple', 'Orange', 'Melon', 'Banana')

In [32]:
"Apple" in fruit_tuple

True

In [37]:
"Grape" in fruit_list

False

In [34]:
"Grapes" not in fruit_tuple

True

## Giới thiệu Dictionary

In [7]:
empty_dict = {}
print(empty_dict)

{}

In [8]:
type(empty_dict)

dict

In [9]:
MLB_team = dict([              # (key, value). Trong dict có thể trộn lẫn các kiểu khác nhau
        ('Colorado', 'Rockies'), #key phải là kiểu imutable type, nghĩa là k đổi đc
        ('Colorado', 'pltx'),   #key luôn là duy nhất, nếu trùng sẽ thay = cái mới
        ('Boston', 'Red Sox'),
        ('Boston2', 'Red Sox'), #các key có thể cùng value
        ('Minnesota', 'Twins'),
        ('Milwaukee', 'Brewers'),
        (1, 'test'),
        ('Seattle', ['Mariners','Mariners']) #value có thể 1 list, nhưng key thì không do list có thể thay đổi, k phải type imutable
])
# dấu dict(là cho hàm), dấu [là cho list], ('a','b') là tuple
# kết quả cho ra { có giá trị và dấu 2 chấm như thế này thì là dạng dictinary}
MLB_team

{'Colorado': 'pltx',
 'Boston': 'Red Sox',
 'Boston2': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 1: 'test',
 'Seattle': ['Mariners', 'Mariners']}

In [51]:
name2age = dict(Trang=24, Xuan=30, Anh=13)      # chỉ work nếu key là simple strings
name2age

{'Trang': 24, 'Xuan': 30, 'Anh': 13}

In [10]:
#1 kiểu tạo dict khác
pltx_dict = {'phuong':24, 'trang':30}
pltx_dict

{'phuong': 24, 'trang': 30}

In [11]:
banks_and_biz = {"techcom": "onemount",
                 "bacA": "THTruemilk",
                 "namA": "toancau"}
print(type(banks_and_biz))
banks_and_biz

<class 'dict'>

{'techcom': 'onemount', 'bacA': 'THTruemilk', 'namA': 'toancau'}

In [45]:
banks_and_biz['bacA']

'THTruemilk'

In [12]:
banks_and_biz.keys()
print(type(banks_and_biz.keys()))
print(banks_and_biz.keys())
banks_and_biz.keys()

<class 'dict_keys'>
dict_keys(['techcom', 'bacA', 'namA'])

dict_keys(['techcom', 'bacA', 'namA'])

In [44]:
banks_and_biz.values()
print(type(banks_and_biz.values()))
print(banks_and_biz.values())
banks_and_biz.values()

<class 'dict_values'>
dict_values(['onemount', 'THTruemilk', 'toancau'])

dict_values(['onemount', 'THTruemilk', 'toancau'])

In [42]:
banks_and_biz.items()
print(type(banks_and_biz.items()))
print(banks_and_biz.items())
banks_and_biz.items()

<class 'dict_items'>
dict_items([('techcom', 'onemount'), ('bacA', 'THTruemilk'), ('namA', 'toancau')])

dict_items([('techcom', 'onemount'), ('bacA', 'THTruemilk'), ('namA', 'toancau')])

In [60]:
banks_and_biz['vpbank'] = 'masteri' # thêm key mới
banks_and_biz

{'techcom': 'onemount',
 'bacA': 'THTruemilk',
 'namA': 'toancau',
 'vpbank': 'masteri'}

In [68]:
banks_and_biz['namA'] = 'nothing' # gán value mới vào key có sẵn
banks_and_biz

{'techcom': 'onemount', 'vpbank': 'masteri', 'namA': 'nothing'}

In [69]:
banks_and_biz.pop('namA') # xóa 1 key
banks_and_biz

{'techcom': 'onemount', 'vpbank': 'masteri'}

In [67]:
del banks_and_biz['bacA']  # 1 cách khác để xóa key
banks_and_biz

{'techcom': 'onemount', 'vpbank': 'masteri', 'namA': 'nothing'}

In [70]:
company_and_biz = {'vin': ['healthcare', 'realestate', 'cars'],
                   'masan': ['retail', 'bank', 'resource'],
                   'vinamilk': ['retail', 'milkproduction', 'sellingcow']}
company_and_biz

{'vin': ['healthcare', 'realestate', 'cars'],
 'masan': ['retail', 'bank', 'resource'],
 'vinamilk': ['retail', 'milkproduction', 'sellingcow']}

In [71]:
company_and_biz['masan'][0]

'retail'

In [30]:
int_key_dict = {1:'Ngoc', 2:'Quan', 3:'Dung'}
int_key_dict

{1: 'Ngoc', 2: 'Quan', 3: 'Dung'}

In [31]:
# key không thể là dạng list
int_key_dict[2]

'Quan'

In [50]:
int_key_dict[9]

KeyError: 9

## Datetime và các xử lý liên quan

In [2]:
from datetime import date
from datetime import time
from datetime import datetime

* Unix epoch
* Daylight saving time
* Timezone

In [22]:
# Get today's date
today =  date.today()
print(today)
print(type(today))
today

2021-09-18
<class 'datetime.date'>

datetime.date(2021, 9, 18)

In [19]:
# Components of the date
print("Today's year  :", today.year)
print("Today's month :", today.month)
print("Today's day   :", today.day)

Today's year  : 2021
Today's month : 9
Today's day   : 18

In [11]:
# Date and Time using Now() function
today_wtime  = datetime.now()
print(today_wtime)
today_wtime

2021-09-18 11:30:01.077716

datetime.datetime(2021, 9, 18, 11, 30, 1, 77716)

In [12]:
# Today's weekday
print("Today's weekday is :", today.weekday())      # bắt đầu từ thứ 2.
days = ['mon','tue','wed','thu','fri','sat','sun']
print("Today's weekday is :", days[today.weekday()])
print(today_wtime.strftime("%A"))
print(today_wtime.strftime("%B"))

Today's weekday is : 5
Today's weekday is : sat
Saturday
September

In [27]:
d = date.fromisoformat("2021-09-02")        # theo chuẩn iso
print(d)
d

2021-09-02

datetime.date(2021, 9, 2)

In [23]:
date_string = "01-31-2020 14:45:37"
format_string = "%m-%d-%Y %H:%M:%S"
date_format = datetime.strptime(date_string, format_string)  #parse tương ứng string và format
print(date_format)
date_format

2020-01-31 14:45:37

datetime.datetime(2020, 1, 31, 14, 45, 37)

In [25]:
date_string = "01/31/2020 14:45:37"
format_string = "%m/%d/%Y %H:%M:%S"
date_format = datetime.strptime(date_string, format_string)  #parse tương ứng string và format
print(date_format)
date_format

2020-01-31 14:45:37

datetime.datetime(2020, 1, 31, 14, 45, 37)

In [15]:
# Get current time
currTime = datetime.time(datetime.now())
print(currTime)
currTime

11:35:00.053139

datetime.time(11, 35, 0, 53139)

In [17]:
# Formatting date
def format_date():
    now = datetime.now()
    print("Today's date and time :", now)
    print("Current year :", now.strftime('%Y'))
    print("Current year :", now.strftime('%y'))
    # '%Y/y'-> year, '%a/A'-> weekday,'%b/B'-> month, '%d'-> day of the month 
    print('Current date :', now.strftime('%d %B, %Y (%A)'))

format_date()

Today's date and time : 2021-09-18 11:35:09.449514
Current year : 2021
Current year : 21
Current date : 18 September, 2021 (Saturday)

In [2]:
#Set - Tập hợp
a = {5, 3, 3, 2, 1, 4}
a

{1, 2, 3, 4, 5}

In [3]:
b = {'pltx', 35, 56.7}
b

{35, 56.7, 'pltx'}

In [4]:
my_set = set()
type(my_set)

set

In [5]:
my_set.add('abc')
my_set

{'abc'}

In [6]:
my_set.add([1, 3, "333"])

TypeError: unhashable type: 'list'

In [ ]:
# có thể chuyển qua lại dict, set, tuple, list